.filter-container {
  display: grid;
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  gap: 20px;
}

.filter-label {
  font-weight: 500;
  margin-bottom: 8px;
  display: block;
}

.input-wrapper {
  display: flex;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.18);
  border-radius: 12px;
  padding: 0 12px;
  height: 48px;
  transition: all 0.2s ease;
  background: white;
}
.filter-field {
  min-width: 218px;
  flex: 1;
}
.input-wrapper:hover {
  border-color: rgba(0, 0, 0, 0.35);
}

.input-wrapper:focus-within {
  border-color: #3f51b5;
}

.input-wrapper input {
  border: none;
  outline: none;
  flex: 1;
  font-size: 14px;
}

.input-wrapper mat-select {
  width: 100%;
}

.input-icon {
  font-size: 20px;
  opacity: 0.6;
}

.date-wrapper {
  padding-right: 4px;
}

.filter-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  /* grid-column: span 1/ -1; */
  margin-top: 20px;
}

.filter-actions button {
  box-shadow:
    rgba(99, 102, 241, 0.2) 0px 4px 6px -1px,
    rgba(99, 102, 241, 0.1) 0px 2px 4px -1px;
  background: linear-gradient(135deg, #0560a6 0%, #0581e0 100%);
  color: white;
  height: 48px;
}

.filter-actions button:hover {
  transform: translateY(-3px);
}
