<div class="filter-container">
  <ng-container *ngFor="let field of fields">
    <div class="filter-field">
      <label class="filter-label">
        {{ field.label | translate | titlecase }}
      </label>

      <ng-container [ngSwitch]="field.type">
        <div class="input-wrapper" *ngSwitchCase="'text'">
          <input
            matInput
            [(ngModel)]="filter[field.key]"
            [placeholder]="field.placeholder | translate"
          />
          <!-- <mat-icon class="input-icon">search</mat-icon> -->
        </div>

        <div class="input-wrapper" *ngSwitchCase="'select'">
          <mat-select [(ngModel)]="filter[field.key]">
            <mat-option *ngFor="let opt of field.options" [value]="opt === 'ALL' ? '' : opt">
              {{ opt | translate }}
            </mat-option>
          </mat-select>
        </div>

        <div
          class="input-wrapper date-wrapper"
          *ngSwitchCase="'date-range'"
          (click)="picker.open()"
        >
          <mat-date-range-input [rangePicker]="picker">
            <input
              matStartDate
              placeholder="{{ 'SELECT-DATE' | translate }} "
              [(ngModel)]="filter[field.key + '_from']"
              style="cursor: pointer"
            />
            <input matEndDate [(ngModel)]="filter[field.key + '_to']" style="cursor: pointer" />
          </mat-date-range-input>

          <mat-datepicker-toggle [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </div>
      </ng-container>
    </div>
  </ng-container>

  <div class="filter-actions">
    <button mat-fab extended class="filter-btn" (click)="onFilter()" [disabled]="isLoading">
      <mat-icon>filter_alt</mat-icon>
      {{ 'FILTER-RESULTS' | translate }}
    </button>

    <button mat-fab extended class="reset-btn" (click)="onResetFilter()" [disabled]="isLoading">
      <mat-icon>refresh</mat-icon>
      {{ 'RESET' | translate }}
    </button>
  </div>
</div>
