<div class="filter-container">
  <ng-container *ngFor="let field of fields">
    <div class="filter-field">
      <label class="filter-label">
        {{ field.label | translate | titlecase }}
      </label>

      <ng-container [ngSwitch]="field.type">
        <mat-form-field appearance="outline" *ngSwitchCase="'text'" class="no-border-field">
          <input
            matInput
            [(ngModel)]="filter[field.key]"
            [placeholder]="field.placeholder | translate"
          />
          <mat-icon matSuffix color="primary" style="opacity: 0.5; font-size: 20px">
            search
          </mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline" *ngSwitchCase="'select'">
          <mat-select [(ngModel)]="filter[field.key]">
            <mat-option *ngFor="let opt of field.options" [value]="opt === 'ALL' ? '' : opt">
              {{ opt | translate }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" *ngSwitchCase="'date-range'" class="date-range-field">
          <mat-date-range-input [rangePicker]="picker">
            <input
              matStartDate
              placeholder="{{ 'FROM' | translate }}"
              [(ngModel)]="filter[field.key + '_from']"
            />
            <input
              matEndDate
              placeholder="{{ 'TO' | translate }}"
              [(ngModel)]="filter[field.key + '_to']"
            />
          </mat-date-range-input>

          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
      </ng-container>
    </div>
  </ng-container>

  <div class="filter-actions">
    <button
      mat-fab
      extended
      color="primary"
      class="filter-btn"
      (click)="onFilter()"
      [disabled]="isLoading"
    >
      <mat-icon>filter_alt</mat-icon>
      {{ 'FILTER-RESULTS' | translate }}
    </button>

    <button
      mat-fab
      extended
      color="warn"
      class="reset-btn"
      (click)="onResetFilter()"
      [disabled]="isLoading"
    >
      <mat-icon>refresh</mat-icon>
      {{ 'RESET' | translate }}
    </button>
  </div>
</div>
