<h2 mat-dialog-title class="dialog-title">Add Voucher Codes</h2>

<div class="error-box" *ngIf="voucherForm.invalid && submitted">
  <p>{{ 'FORM-ERROR-MESSAGE' | translate }}</p>
</div>

<form [formGroup]="voucherForm" class="voucher-form">
  <label>Promotion ID</label>
  <input formControlName="promotion_id" readonly class="disabled-input" />
  <div>
    <label>{{ 'EMAIL' | translate }} <span style="color: red">*</span></label>
    <div class="custom-input">
      <input matInput formControlName="email" [placeholder]="'EMAIL-PLACEHOLDER' | translate" />
    </div>
  </div>
  <div>
    <label>{{ 'NUMBER-OF-VOUCHERS' | translate }} <span style="color: red">*</span></label>
    <div class="custom-input">
      <input
        matInput
        inputmode="numeric"
        type="text"
        formControlName="number_voucher"
        (keypress)="onlyNumber($event)"
        (input)="formatNumber($event, 'number_voucher')"
        [placeholder]="'NUMBER-VOUCHER' | translate"
      />
    </div>
  </div>
  <div>
    <label>{{ 'VALIDITY PERIOD' | translate }}</label>
    <div class="custom-input" (click)="picker.open()" style="cursor: pointer">
      <mat-date-range-input [rangePicker]="picker">
        <input
          matStartDate
          placeholder="{{ 'SELECT-DATE' | translate }}"
          formControlName="start_time"
          (click)="picker.open()"
          style="cursor: pointer"
        />

        <input
          matEndDate
          formControlName="end_time"
          (click)="picker.open()"
          style="cursor: pointer"
        />
      </mat-date-range-input>

      <mat-datepicker-toggle [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </div>
  </div>
</form>

<mat-dialog-actions class="dialog-actions">
  <button class="cancel-btn" (click)="close()">
    {{ 'CANCEL' | translate }}
  </button>

  <button color="primary" class="confirm-btn" (click)="submit()">
    {{ 'CONFIRM-CREATE' | translate }}
  </button>
</mat-dialog-actions>
