mat-nav-list {
  padding: 8px;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 72px);
}
.menu-bottom {
  margin-top: auto;
}

mat-nav-list a.mat-mdc-list-item {
  display: flex;
  align-items: center;
  border-radius: 10px;
  height: 48px;
  margin-bottom: 4px;
  padding: 0 4px;
  transition: 0.2s;
}

mat-nav-list span.menu-text {
  font-weight: 500;
  font-size: 15px;
}

.coming-soon-tag {
  margin-left: auto;
  font-size: 11px;
  background: #ff9800;
  color: white;
  padding: 2px 6px;
  border-radius: 6px;
  font-weight: 500;
}

mat-nav-list a.mat-mdc-list-item:hover {
  background: rgba(0, 0, 0, 0.05);
}

mat-nav-list a.active {
  background: rgba(0, 0, 0, 0.08);
  font-weight: 500;
}

.disabled-link {
  pointer-events: none;
  opacity: 0.5;
  cursor: not-allowed;
}

button {
  outline: none;
  border: none;
}

.lang-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f1f5f9;
  padding: 4px 0px;
  margin: 0 30px;
  border-radius: 8px;
  gap: 4px;
  transition: opacity 0.3s ease;
}

.lang-item {
  padding: 8px 16px;
  border-radius: 8px;
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 0.75rem;
  color: #0f172a;
  transition: all 0.2s ease;
}

.active-lang {
  font-weight: 700;
  background-color: #fff;
  color: #0f172a;
  box-shadow: 0 2px 4px #0000000d;
}
